Repository RobBrazier/calibre-plugins: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-lint, ruff-format, uv-lock

ruff-lint:
  run: uv run ruff check {staged_files}

ruff-format:
  run: uv run ruff format {staged_files}

uv-lock:
  run: uv lock
  stage_fixed: true

chore: add uv lock to pre-commit hooks
  .lefthook.yml
  uv.lock
Due: uv-lock

chore(build): add tagging to bump stage
  Taskfile.yml
  uv.lock
Due: uv-lock

bump(hardcover): Update lock for 0.2.0
  uv.lock
Due: uv-lock

chore(build): fix autopushing and release tag
  .github/workflows/build.yaml
  Taskfile.yml
Due: none

chore(build): fix bump
  Taskfile.yml
Due: none

chore(build): fix git-cliff changelog remote issues
  .github/workflows/build.yaml
Due: none

chore(build): add links to changelog versions + use current instead of latest
  .github/workflows/build.yaml
  cliff.toml
Due: none

feat: move graphql code into a separate lib + handle module names in bundling
  libs/common/README.md
  libs/graphql/README.md
  libs/graphql/pyproject.toml
  libs/graphql/src/graphql/__init__.py
  libs/graphql/src/graphql/graphql.py
  libs/graphql/test/graphql/test_graphql.py
  plugins/hardcover/pyproject.toml
  plugins/hardcover/src/hardcover/identifier.py
  plugins/hardcover/test/conftest.py
  plugins/hardcover/test/test_identifier.py
  pyproject.toml
  scripts/bundle.sh
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

chore: update codecov config for new lib and future plugins
  .github/codecov.yml
Due: none

chore(deps): add renovate config
  .github/renovate.json
Due: none

chore(deps): remove unused config
  .github/renovate.json
Due: none

chore(docs): remove pre-commit from README
  README.md
Due: none

chore(deps): update renovate with some default presets
  .github/renovate.json
Due: none

chore(deps): remove dependabot
  .github/dependabot.yml
Due: none

chore(deps): automerge patch PRs
  .github/renovate.json
Due: none

fix(hardcover): graphql import not being added to sys.modules
  .calibre/Taskfile.yml
  .lefthook.yml
  Dockerfile
  compose.yml
  libs/graphql/src/graphql/__init__.py
  libs/graphql/src/graphql/client.py
  libs/graphql/test/graphql/test_client.py
  plugins/hardcover/src/hardcover/identifier.py
  plugins/hardcover/src/hardcover/provider.py
  plugins/hardcover/src/hardcover/source.py
  plugins/hardcover/test/conftest.py
  scripts/bundle.sh
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

fix: test failures
  plugins/hardcover/test/test_identifier.py
Due: ruff-lint, ruff-format

chore(dev): add CALIBRE_DEVELOP_FROM and tweak calibre tasks a bit
  .calibre/Taskfile.yml
  Taskfile.yml
  mise.toml
  uv.lock
Due: uv-lock

chore(deps): update github actions comments to be wider ranges
  .github/workflows/build.yaml
Due: none

chore(deps): update renovate.json
  .github/renovate.json
Due: none

chore(deps): use semver for github actions
  .github/renovate.json
Due: none

chore(deps): group non-major updates together
  .github/renovate.json
Due: none

chore(deps): just group actions updates together
  .github/renovate.json
Due: none

feat: use hardcover cached_* fields
  plugins/hardcover/src/hardcover/identifier.py
  plugins/hardcover/src/hardcover/models.py
  plugins/hardcover/src/hardcover/queries.py
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

feat: optimise hardcover queries and datamapping
  .calibre/Taskfile.yml
  Dockerfile
  Taskfile.yml
  compose.yml
  libs/common/src/common/utils.py
  plugins/hardcover/src/hardcover/identifier.py
  plugins/hardcover/src/hardcover/models.py
  plugins/hardcover/src/hardcover/provider.py
  plugins/hardcover/src/hardcover/queries.py
  plugins/hardcover/src/hardcover/source.py
Due: ruff-lint, ruff-format

feat: switch to jaro-winkler distance checks for better results
  plugins/hardcover/pyproject.toml
  plugins/hardcover/src/hardcover/identifier.py
  plugins/hardcover/src/hardcover/models.py
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

feat: add configurable match sensitivity to allow for finetuning of title+author queries
  plugins/hardcover/src/hardcover/identifier.py
  plugins/hardcover/src/hardcover/provider.py
  plugins/hardcover/src/hardcover/source.py
Due: ruff-lint, ruff-format

fix: fix tests after changing identifier logic
  libs/common/test/common/test_utils.py
  plugins/hardcover/src/hardcover/identifier.py
  plugins/hardcover/test/data/find_books_by_id.json
  plugins/hardcover/test/test_identifier.py
  plugins/hardcover/test/utils.py
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

fix: calibre plugins site not able to parse the plugin zip
  plugins/hardcover/src/hardcover/__init__.py
  plugins/hardcover/src/hardcover/source.py
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

bump(hardcover): Update lock for 0.2.1
  Taskfile.yml
  uv.lock
Due: uv-lock

chore: update bundle script to be python
  scripts/bundle.py
  scripts/bundle.sh
Due: ruff-lint, ruff-format

fix: restructure file to allow calibre plugins site to parse
  plugins/hardcover/src/hardcover/__init__.py
Due: ruff-lint, ruff-format

fix: allow tests to run without stubbing out calibre stuff
  .github/workflows/build.yaml
  .gitignore
  README.md
  Taskfile.yml
  mise.toml
  plugins/hardcover/test/conftest.py
  pyproject.toml
  scripts/build_env.py
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

bump(hardcover): Update lock for 0.2.2
  uv.lock
Due: uv-lock

chore: remove try-except cases for tests around calibre imports
  plugins/hardcover/src/hardcover/identifier.py
  plugins/hardcover/src/hardcover/provider.py
  plugins/hardcover/test/test_identifier.py
  scripts/build_env.py
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

chore: remove unneeded import and completed TOOD
  plugins/hardcover/src/hardcover/identifier.py
Due: ruff-lint, ruff-format

feat: add initial hardcover-sync plugin
  .calibre/Taskfile.yml
  Taskfile.yml
  plugins/hardcover-sync/README.md
  plugins/hardcover-sync/pyproject.toml
  plugins/hardcover-sync/src/hardcover_sync/__init__.py
  plugins/hardcover-sync/src/hardcover_sync/action.py
  plugins/hardcover-sync/src/hardcover_sync/config.py
  plugins/hardcover-sync/src/hardcover_sync/images/hardcover-symbol.png
  plugins/hardcover-sync/src/hardcover_sync/models.py
  plugins/hardcover-sync/src/hardcover_sync/provider.py
  plugins/hardcover-sync/src/hardcover_sync/queries.py
  pyproject.toml
  scripts/bundle.py
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

fix: test failure after pyjarowinkler update
  plugins/hardcover/src/hardcover/identifier.py
Due: ruff-lint, ruff-format

Path conditions:
  ruff-lint: any of: *.py
  ruff-format: any of: *.py
  uv-lock: any of: uv.lock
