Repository RobBrazier/calibre-plugins: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-lint, ruff-format, uv-lock

ruff-lint:
  run: uv run ruff check {staged_files}

ruff-format:
  run: uv run ruff format {staged_files}

uv-lock:
  run: uv lock
  stage_fixed: true

chore: configure stage_fixed for ruff formatting
  .lefthook.yml
Due: none

chore: remove uv-lock hook
  .lefthook.yml
Due: none

feat: use fragments for common elements in graphql queries
  .gitignore
  .lefthook.yml
  plugins/hardcover/src/hardcover/identifier.py
  plugins/hardcover/src/hardcover/queries.py
  plugins/hardcover/test/test_identifier.py
Due: ruff-lint, ruff-format

chore: update calibre source version
  .calibre/Taskfile.yml
Due: none

feat: add initial manga toc plugin
  .calibre/Taskfile.yml
  Taskfile.yml
  plugins/manga-toc/README.md
  plugins/manga-toc/pyproject.toml
  plugins/manga-toc/src/manga_toc/__init__.py
  plugins/manga-toc/src/manga_toc/config.py
  plugins/manga-toc/src/manga_toc/images/chapters.png
  plugins/manga-toc/src/manga_toc/main.py
  pyproject.toml
  scripts/bundle.py
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

feat: rename to manga-chapters and use openai api to allow for swapping in another provider
  plugins/manga-chapters/README.md
  plugins/manga-chapters/pyproject.toml
  plugins/manga-chapters/src/manga_chapters/__init__.py
  plugins/manga-chapters/src/manga_chapters/config.py
  plugins/manga-chapters/src/manga_chapters/images/chapters.png
  plugins/manga-chapters/src/manga_chapters/llm.py
  plugins/manga-chapters/src/manga_chapters/main.py
  plugins/manga-toc/src/manga_toc/config.py
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

fix: pass links into llm to filter out false positive chapters
  plugins/manga-chapters/src/manga_chapters/llm.py
  plugins/manga-chapters/src/manga_chapters/main.py
Due: ruff-lint, ruff-format

feat: add chapter page estimation when no links are found
  plugins/manga-chapters/pyproject.toml
  plugins/manga-chapters/src/manga_chapters/llm.py
  plugins/manga-chapters/src/manga_chapters/main.py
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

feat(manga-chapters): rename to manga chapter extractor + use versiongit
  Taskfile.yml
  plugins/hardcover/pyproject.toml
  plugins/manga-chapters/pyproject.toml
  plugins/manga-chapters/src/manga_chapters/__init__.py
  plugins/manga-chapters/src/manga_chapters/config.py
  plugins/manga-chapters/src/manga_chapters/main.py
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

fix: duplicate package being added to bundle
  scripts/bundle.py
Due: ruff-lint, ruff-format

chore: update codecov component config
  .github/codecov.yml
Due: none

chore: update readme with more details of plugin
  plugins/manga-chapters/.readme/example.jpg
  plugins/manga-chapters/README.md
Due: none

chore: renaming and update image
  README.md
  plugins/manga-chapters/.readme/example.jpg
  plugins/manga-chapters/src/manga_chapters/main.py
Due: ruff-lint, ruff-format

chore: enable pymarkdownlnt for markdown files
  .lefthook.yml
  README.md
  plugins/manga-chapters/README.md
Due: none

chore: reformat readme
  plugins/manga-chapters/README.md
Due: none

fix: linting errors in bundle script
  scripts/bundle.py
Due: ruff-lint, ruff-format

feat: add manga chapter extractor editor plugin
  .calibre/Taskfile.yml
  .github/codecov.yml
  .lefthook.yml
  README.md
  Taskfile.yml
  plugins/manga-chapters/.readme/example.jpg
  plugins/manga-chapters/README.md
  plugins/manga-chapters/pyproject.toml
  plugins/manga-chapters/src/manga_chapters/__init__.py
  plugins/manga-chapters/src/manga_chapters/config.py
  plugins/manga-chapters/src/manga_chapters/images/chapters.png
  plugins/manga-chapters/src/manga_chapters/llm.py
  plugins/manga-chapters/src/manga_chapters/main.py
  pyproject.toml
  scripts/bundle.py
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

chore: remove unnecessary uv sync and commit
  Taskfile.yml
Due: none

chore: add builtin lxml to root dependencies
  pyproject.toml
  uv.lock
Due: uv-lock

fix: versioningit now searches more in git describe
  .gitattributes
  plugins/hardcover/pyproject.toml
  plugins/manga-chapters/pyproject.toml
Due: none

chore(lint): move pymarkdownlnt into pyproject.toml
  .lefthook.yml
  pyproject.toml
  uv.lock
Due: uv-lock

chore(deps): switch lxml dependency to lxml-stubs
  pyproject.toml
  uv.lock
Due: uv-lock

fix: linting issues with basedpyright
  README.md
  mise.toml
  plugins/hardcover/__builtins__.pyi
  plugins/hardcover/pyproject.toml
  plugins/hardcover/src/hardcover/__init__.py
  plugins/hardcover/src/hardcover/provider.py
  plugins/manga-chapters/__builtins__.pyi
  plugins/manga-chapters/pyproject.toml
  plugins/manga-chapters/src/manga_chapters/main.py
  pyproject.toml
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

chore: add pytest shim that sets LD_LIBRARY_PATH
  .github/workflows/build.yaml
  mise.toml
  pyproject.toml
  shims/pytest
  uv.lock
Due: uv-lock

chore(deps): remove pytest-env
  pyproject.toml
  uv.lock
Due: uv-lock

chore: explicitly use path of shim in workflow
  .github/workflows/build.yaml
Due: none

chore(release): move release stuff into shell script
  .github/workflows/build.yaml
  cliff.toml
  scripts/release.sh
Due: none

chore(release): add mise to release stage
  .github/workflows/build.yaml
Due: none

chore(release): fix release action
  .github/workflows/build.yaml
  scripts/release.sh
Due: none

chore(release): where are the files
  scripts/release.sh
Due: none

chore(release): download artifacts to dist folder
  .github/workflows/build.yaml
  scripts/release.sh
Due: none

chore(release): add github variables so github data is used in release
  .github/workflows/build.yaml
Due: none

fix(hardcover): remove unused reference to edition description
  .calibre/Taskfile.yml
  plugins/hardcover/src/hardcover/__init__.py
  plugins/hardcover/src/hardcover/identifier.py
  plugins/hardcover/src/hardcover/models.py
  plugins/hardcover/src/hardcover/queries.py
Due: ruff-lint, ruff-format

feat: add language filter option (default: eng) and optimise matching to look at the editions
  .calibre/Taskfile.yml
  plugins/hardcover/pyproject.toml
  plugins/hardcover/src/hardcover/__init__.py
  plugins/hardcover/src/hardcover/identifier.py
  plugins/hardcover/src/hardcover/models.py
  plugins/hardcover/src/hardcover/provider.py
  plugins/hardcover/src/hardcover/queries.py
  plugins/hardcover/test/data/find_books_by_id.json
  plugins/hardcover/test/test_identifier.py
  plugins/hardcover/test/utils.py
  uv.lock
Due: ruff-lint, ruff-format, uv-lock

chore(ci): reorder github workflow to try fixing build
  .github/workflows/build.yaml
Due: none

chore(ci): fix build
  .github/workflows/build.yaml
Due: none

chore(ci): remove glibc
  .github/workflows/build.yaml
Due: none

chore(ci): move common installation steps to composite action
  .github/actions/install/action.yml
  .github/workflows/build.yaml
Due: none

chore(ci): add some caching
  .github/actions/install/action.yml
Due: none

chore(ci): remove composite action
  .github/actions/install/action.yml
  .github/workflows/build.yaml
Due: none

Path conditions:
  ruff-lint: any of: *.py
  ruff-format: any of: *.py
  uv-lock: any of: uv.lock
